figure {
  width: 100%;
  height: 800px;
  background-color: #333;
  overflow: hidden;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  article {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

    h2 {
      //desktop 크기에서만 글자 크기를 가변형 설정
      font-size: 7vmax;
      margin-bottom: 20px;
    }
    p {
      font: 1.2rem/1.2 "arial";
      opacity: 0.5;
      margin-bottom: 50px;
    }
    a {
      display: inline-block;
      border: 1px solid white;
      padding: 6px 100px;
      font-size: 0.8rem;
      transition: all 0.5s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
