footer {
  width: 100%;
  padding: 60px 10%;
  background-color: #222;

  section {
    padding: 30px 0px;
    color: #555;
  }

  section:nth-of-type(1) {
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 1.5rem;
    }

    ul {
      display: flex;
      gap: 30px;
      font-size: 1rem;
    }
  }

  section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: $tablet) {
  footer {
    section:nth-of-type(1) {
      flex-wrap: wrap;

      h1 {
        width: 100%;
        margin-bottom: 20px;
      }

      ul {
        width: 100%;
      }
    }

    section:nth-of-type(2) {
      flex-wrap: wrap;

      & > * {
        width: 100%;
      }
    }
  }
}
