header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  h1 {
    font-size: 1.8rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;

    #gnb {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 50px;
      order: 2;
      font: bold 1rem/1 "arial";
      color: #555;
    }
    .util {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 20px;
      order: 1;
      margin-bottom: 20px;
      font: 0.8rem/1 "arial";
      color: #888;
    }
  }
  .btnToggle {
    display: none;
    font-size: 1.2rem;
  }
}
