* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 16px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
